:root {
    --bug: #A7B723;
    --dark: #75574C;
    --dragon: #7037FF;
    --electric: #F9CF30;
    --fairy: #E69EAC;
    --fighting: #C12239;
    --fire: #F57D31;
    --flying: #A891EC;
    --ghost: #70559B;
    --normal: #AAA67F;
    --grass: #74CB48;
    --ground: #DEC16B;
    --ice: #9AD6DF;
    --poison: #A43E9E;
    --psychic: #FB5584;
    --rock: #B69E31;
    --steel: #B7B9D0;
    --water: #6493EB;
}

.color--grass{
    background-color: var(--grass);
}

.color--water{
    background-color: var(--water);
}

.color--fire{
    background-color: var(--fire);
}

.color--bug{
    background-color: var(--bug);
}

.color--dark{
    background-color: var(--dragon);
}

.color--electric{
    background-color: var(--electric);
}

.color--fairy{
    background-color: var(--fairy);
}

.color--fighting{
    background-color: var(--fighting);
}

.color--flying{
    background-color: var(--flying);
}
.color--ghost{
    background-color: var(--ghost);
}

.color--normal{
    background-color: var(--normal);
}

.color--ground{
    background-color: var(--ground);
}

.color--ice{
    background-color: var(--ice);
}

.color--poison{
    background-color: var(--poison);
}

.color--psychic{
    background-color: var(--psychic);
}

.color--rock{
    background-color: var(--rock);
}

.color--steel{
    background-color: var(--steel);
}

.color--water{
    background-color: var(--water);
}



.homeBg{
    background-color: #DC0A2D;
}

.pokelist{
    background-color: white;
    width: 75rem;
    border-radius: 1rem;
}

html{
    font-family: 'poppins', sans-serif;
}

