.card{
    background-color: white;
    border-radius: 1rem;
}

.card__pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 22.66rem;
    width: 22.66rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    margin: 1rem;
}

.card__pokemon--img{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 15rem;
    width: 15rem;
    margin-top: 2rem;
}

.pokelist{
    background-color: white;
    width: 74rem;
    height: 100%;
    border-radius: 1rem;
}

.pokelist article:nth-last-child(5){
    background-color: orange;
}
