.details{
    display: flex;
    flex-direction: column;
}

.details__stats{
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.details__stats--headline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.details__info--gray{
    color: #666666;
}

.details__img--flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details__card{

}

.pokelist__details{
    background-color: var(--dynamic-bg-color);
}