.pokelist__details{
    display: grid;
    grid-template-columns: 
    [fullw-start]1fr 
    [content-start] 50rem [content-end] 
     1fr[fullw-end];
}

.details__card{
    grid-column: span 4;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details__img{
grid-column: 2;
width: 20rem;
height: 20rem;
}

.details__info{
    display: flex;
    gap: 2rem;
    margin-block: 1rem;
}

.details__stats{
    grid-column: span 4;
    width: 100%;

}

.details__meter{
    width: 100%;
}





/* .details{
    display: flex;
    flex-direction: column;
}

.details__stats{
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.details__stats--label{
    padding-inline: 1rem;
    border-right: 1px solid gray;
}

.details__meter{
    display: flex;
    margin: 0.25rem;
}

.details__stats--headline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.details__info--gray{
    color: #666666;
}

.details__flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details__elements{
    justify-content: center;
    align-items: center;
}

.pokelist__details{
    background-color: var(--dynamic-bg-color);
} */

/* .details__type{

} */